# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly libraries used for Data Science
- Examples of Arithmetic expressions in Python

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. JavaScript
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.

| Data Science Tools |
|---------------|
| Jupyter Nootboks |
| R Studio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author:
Isaias Zu√±iga Correa